<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';

    const PostDetailApp = {
        delimiters: ['[[', ']]'],

        data() {
            return {
                post: {},
                prevPost: {},
                nextPost: {},
                cateList: [],
                tagList: [],
                commentList: [],
            }
        },

        created() {
            console.log("created()...");
            const postId = location.pathname.split('/')[3];
            this.fetchPostDetail(postId);
            this.fetchCateTagList();
        },

        methods: {
            fetchPostDetail(postId) {
                console.log("fetchPostDetail()...", postId);

                axios.get(`/api/post/${postId}/`)
                    .then(res => {
                        console.log("FETCH POSTDETAIL GET RES", res);
                        this.post = res.data.post;
                        this.prevPost = res.data.prevPost;
                        this.nextPost = res.data.nextPost;
                        this.commentList = res.data.commentList;
                    })
                    .catch(err => {
                        console.log("FETCH POSTDETAIL GET ERR.RESPONSE", err.response);
                        alert(`${err.response.status} ${err.response.statusText}`);
                    });
            },

            fetchCateTagList() {
                console.log("fetchCateTagList()...");

                axios.get('/api/catetag/')
                    .then(res => {
                        console.log("FETCH CATE-TAG-LIST GET RES", res);
                        this.cateList = res.data.cateList;
                        this.tagList = res.data.tagList;
                    })
                    .catch(err => {
                        console.log("FETCH CATE-TAG-LIST GET ERR.RESPONSE", err.response);
                        alert(`${err.response.status} ${err.response.statusText}`);
                    });
            },

            serverPage(category = '', tag = '') {
                console.log("serverPage()...", category, tag);
                if (category && tag) alert(`serverPage() both args Error: ${category} and ${tag}`);
                else if (category) location.href = `/?category=${category}#portfolio`;
                else if (tag) location.href = `/?tag=${tag}#portfolio`;
                else location.href = '/#portfolio';
            },

            likeCount(postId) {
                console.log("likeCount()...", postId);
                axios.get(`/api/like/${postId}/`)
                    .then(res => {
                        console.log("LIKE-COUNT GET RES", res);
                        this.post.like = res.data;
                    })
                    .catch(err => {
                        console.log("LIKE-COUNT GET ERR.RESPONSE", err.response);
                        alert(`${err.response.status} ${err.response.statusText}`);
                    });
            },

            resetForm() {
                console.log("resetForm()...");
                this.$refs.commentForm.reset();
            },

            submitForm() {
                console.log("submitForm()...");
                let formdata = new FormData(document.getElementById('comment-form'));
                formdata.set('post', this.post.id);
                axios.post('/api/comment/create/', formdata)
                    .then(res => {
                        console.log("CREATE-COMMENT POST RES", res);
                        this.commentList.push(res.data);
                    })
                    .catch(err => {
                        console.log("CREATE-COMMENT GET ERR.RESPONSE", err.response);
                        alert(`${err.response.status} ${err.response.statusText}`);
                    });
                this.resetForm();
            },
        },
    }

    Vue.createApp(PostDetailApp).mount('#page-top')
</script>