{% extends 'base.html' %}

{% load static %}

{% block title %}home.html{% endblock %}

{% block extra-style %}
{{ block.super }}
<style>
    .my-img-h300 {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .my-post-title {
        height: 60px;
    }
    .my-link:hover {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<!-- Blog Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <div class="section-heading">
                <span class="h2 text-uppercase">Post List</span>&nbsp;
                <span v-if="category" class="h6 fst-italic">( Category: [[ category ]] )</span>
                <span v-if="tag" class="h6 fst-italic">( Tag: [[ tag ]] )</span>
            </div>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row">
            <div v-for="post in postList" :key="post.id" class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" :href="`/blog/post/${post.id}/#post`">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid my-img-h300" :src="post.image" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-subheading text-muted">
                            [[ post.category ]] &emsp;
                            <i class="fas fa-heart text-danger"></i> [[ post.like ]]
                        </div>
                        <div class="portfolio-caption-heading my-post-title">[[ post.title ]]</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- My Pagination -->
        <ul class="pagination justify-content-center">
            <li :class="prevClass">
                <div @click="firstPage" class="page-link">first</div>
            </li>

            <li :class="prevClass">
                <div @click="prevPage" class="page-link">prev</div>
            </li>

            <li v-for="page in pages" :class="pageClass(page)">
                <div @click="pageChanged(page)" class="page-link">[[ page ]]</div>
            </li>

            <li :class="nextClass">
                <div @click="nextPage" class="page-link">next</div>
            </li>

            <li :class="nextClass">
                <div @click="lastPage" class="page-link">last</div>
            </li>            
        </ul>

    </div>
</section>

<!-- Iam -->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">홍 길 동</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'assets/img/team/3.jpg' %}" alt="..." />
                    <h4>Creative Company</h4>
                    <p class="text-muted">Python Web Programmer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="mb-5">
                    <h4>파이썬 웹 프로그래밍 (기본편, 한빛미디어)</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="mb-5">
                    <h4>파이썬 웹 프로그래밍 (실전편, 한빛미디어)</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="mb-5">
                    <h4>Vue.js-Django 연동 웹 프로그래밍 (기본편, 인프런)</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="mb-5">
                    <h4>Vue.js-Django 연동 웹 프로그래밍 (실전편, 인프런)</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">
                Copyright &copy; Your Website [[ currentYear ]]
                <!-- This script automatically adds the current year to your website footer-->
                <!-- (credit: https://updateyourfooter.com/)-->
                <!-- <script>
                    document.write(new Date().getFullYear());
                </script> -->
            </div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% block extra-script %}
    {% include 'include/post_list_vue.html' %}
{% endblock %}